#app,#inicio{
	width:100vw;
	height:100vh;	
	
}

#app,#inicio form{
	box-shadow:10px 10px 10px #00000018;
}

#app form button{
	font-size:24px;
}

#voltar{
	position: relative;
	z-index:3;
	top:80px;
	right:445px;
}

#inicio form button{
	position: relative;
	font-size:24px;
}